

.col {
    background-color: green;
    height: 500px;
    margin-top: 200px;
    width: auto;
}

#box {
    margin-right: 50px;
    height: -500px;
    background-color: grey;
    margin-top: -500px;
    width: 50px;
}

#imageofparis{
    margin-top: 80px;
    margin-left: 60px;
}

#about{
    background-color: grey;
    width: 100px;
}

#middle{
    background-color: gray;
    height: 400px;
}